.App {
  text-align: center;
}

.weather{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  align-items: center;
  padding: 5px;

}

.option{
  padding: 5px;
  margin: 5px;
}